@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP:200,300');

.btn__nav
{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 3rem;
    border: none;
    background-color: #333;
    color: #fff;

    font-family: 'Noto Serif JP', serif;
    font-weight: 300;
    font-size: .9rem;
}
.btn__nav:hover,
.btn__nav:focus
{
    cursor: pointer;
    outline: none;
}

.btn__nav > img
{
    width: 1rem;
    height: 1rem;
    
    transition: transform .4s;
}

.nav__wrapper
{
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 0;
    height: 100vh;
    width: 6rem;

    display: flex;
    flex-direction: column;

    opacity: .6;
    transition: opacity .4s;
}
.nav__wrapper:hover
{
    opacity: 1;
}

.nav
{
    position: relative;
    right: -6rem;
    transition: right .4s;

    list-style-type: none;
    height: 100%;
}

.nav__item
{
    position: relative;
    width: 12rem;
    height: 3rem;
    right: 0;

    transition: right .4s;
}
.nav__item:hover
{
    right: 6rem;
}

.nav__item--link
{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

    background-color: #333;
    transition: background-color .4s;

    text-decoration: none;
}
.nav__item--link:hover
{
    background-color: #222;
}

.nav__item--link > img
{
    width: 1.4rem;
    height: 1.4rem;

    padding: 0 2.3rem;
}
.nav__item--link > p
{
    color: #fff;
    font-family: 'Noto Serif JP', serif;
    font-weight: 300;
    font-size: .6rem;
    text-transform: uppercase;
    letter-spacing: 2px;

    width: 6rem;
    padding: 0 .5rem;
}


.nav__active > .nav
{
    right: 0;
}

.nav__active > .btn__nav > img
{
    transform: rotate(225deg);
}